.parent{
  /* border: 2px solid black; */
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  width: 500px;
}
h1{
  text-align: center;
  color: green;
}
#f_name,#l_name,#email,#contact,#url,#aboutus,#up_resume,#choice{
  border: 1px solid gray;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  margin: 10px 0;
}
.gender,.subject{
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.btn{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  
}
button{
  padding: 8px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  width: 150px;
}